body{
  background-color: aqua;
}
#color-flipper {
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: 10rem auto;
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  
  .front {
    background-color: #ed1313;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back {
    background-color: #00ff00;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info {
    text-align: center;
    color: #fff;
  }
  img{
    width: 250px;
  }
  #color-flipper.flip .front {
    transform: rotateY(180deg);
  }
  
  #color-flipper.flip .back {
    transform: rotateY(0deg);
  }
  
  @media screen and (max-width: 767px) {
    #color-flipper {
      width: 300px;
      height: 300px;
    }
  }
  